@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir="rtl"] {
  direction: rtl;
}

html[dir="rtl"] * {
  text-align: right;
}

html[dir="rtl"] .flex-row-reverse {
  flex-direction: row-reverse;
}

html[dir="rtl"] input,
html[dir="rtl"] textarea,
html[dir="rtl"] select {
  text-align: right;
}
